<template>
    <div id="form-container">
        <div class="wrapper">
            <h1>Bem-vindo de volta. {{ 2 * 5 }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sint fugit reprehenderit.</p>
            <form action="" onsubmit="event.preventDefault()">
                <span>Endereço de E-mail</span>
                <input type="text" placeholder="">

                <span>Palavra-passe</span>
                <input type="password" name="" id="" placeholder="">

                <div class="group-flex">
                    <div class="group rememberCheckBox" @click="toggleRememberCheckbox()">
                        <input type="checkbox" style="pointer-events: none;"><span>Manter sessão iniciada</span>
                    </div>
                    <div class="btn-container">
                        <button @click="fakeLogin()">Login</button>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>
</template>

<script>
    //let string = "da";

    const toggleRememberCheckbox = () => {
        let checkbox = document.querySelector(".rememberCheckBox input[type='checkbox']");

        checkbox.checked = !checkbox.checked;
    }

    const fakeLogin = () => {
        nome.value = "User"
    }

    const nome = getStore("userName");


</script>

<style>
    

    form {
        padding-top: 1rem;

        span {
            display: block;
            margin-top: 1.5rem;
            padding-block: .2rem;
            font-size: 1rem;
            color: #757575;
        }

        .group-flex {
            display: flex;
            align-items: center;
            padding-top: 2rem;
            place-content: flex-end;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            height: 1rem;
            padding: .2rem;
            border: none;
            border-bottom: 2px solid rgb(233, 233, 233);
            transition: .2s;
            
            &::after, &::before, &:focus {
                outline: none;
            }

            &:focus, &:not(:placeholder-shown) {
                border-color: rgb(214, 117, 255);
                transition: .2s;
            }
        }

        .btn-container {
            display: inline-block;
            margin-left: 2rem;

            button {
                appearance: none;
                all: unset;
                cursor: pointer;
                background: rgb(214, 117, 255);
                color: #fff;
                padding-inline: 1rem;
                padding-block: .45rem;
                display: block;
                border-radius: 1200px;
                width: max-content;
                transition: .2s;
                font-size: 1.2rem;

                &::after {
                    content: '🡢';
                    display: inline-block;
                    padding-left: 2rem;
                }

                &:hover {
                    background-color: rgb(226, 157, 255);
                }
            }
        }

        .group {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            

            &.rememberCheckBox {
                cursor: pointer;
            }

            span {
                all: unset;
                font-size: .85rem;
            }

            input[type="checkbox"] {
                appearance: none;
                background-color: #fff;
                margin: 0;
                font: inherit;
                color: black;
                width: 1.15em;
                height: 1.15em;
                border: 0.15em solid transparent;
                border-radius: 0.15em;
                background-color: #e3e3e3;
                transform: translateY(-0.075em);
                cursor: pointer;
                margin-right: .6rem;
                position: relative;

                &:checked::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgb(148, 48, 191);
                    transition: .2s;
                    border-radius: 0.15em;
                    animation: grow .15s;
                    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

                    @keyframes grow {
                        0% {
                            scale: 0
                        }
                        100% {
                            scale: 1
                        }
                    }
                }
            }
        }
    }


    h1, p {
        margin-block: .6rem;
    }

    h1 {
        color: rgb(148, 48, 191);
        font-weight: 600;
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    #form-container {
        display: grid;
        width: 100%;
        height: 100%;
        
        place-content: center left;
        
        .wrapper {
            padding-inline: 4rem;
        }
    }
</style>